@font-face {
    font-family:"Simplifica";
    src: url("SIMPLIFICA.ttf")
}

.heading {
    font-family:'Simplifica', sans-serif;
    font-size: 6em;
    line-height: 100%;
    display:block;
    padding-top: 0.4em;
    padding-bottom: 1em;
    color: black;
}

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    height: 4em;
    opacity: 0.6;
    background-color: black;
}

@media (max-width: 480px) {
  .background {
    background: url('images/mobile-background.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
  }
}

@media (min-width: 481px) and (max-width: 1440px) {
  .background {
    background: url('images/laptop-background.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
  }
}

@media (min-width: 1441px) {
  .background {
    background: url('images/desktop-background.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
  }
}
